django==3.2.14
django-cms
django-filer
django-tailwind
django-treebeard
djangocms-file
djangocms-googlemap
djangocms-link
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
psycopg2
pychallonge
python-dotenv
pysmashgg
tabulate