{% extends "base.html" %}
{% load static %}

{% block title%}{{ player.name }} - Project Mars War{% endblock %}

{% block data %}
<div class="container py-8 mx-auto flex justify-center min-h-screen">
    <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible">
            <h1 class="text-5xl font-bold py-4 text-center">{{ player.name }}</h1>
            <div class="py-4">
                <h2 class="text-xl text-center">Rank:</h2>
                <h1 class="text-5xl font-bold text-center">{% if player.rank == -1 %}Unranked{% else %}{{ player.rank }}{% endif %}</h3>
            </div>
            <div class="py-4">
                <h2 class="text-xl text-center">Rating:</h2>
                <h1 class="text-5xl font-bold text-center">{{ player.rating }}</h1> 
                <div class="shadow-lg rounded-lg overflow-hidden">
                    <canvas class="p-10" id="chart"></canvas>
                </div>
            </div>
            <div class="py-4">
                <h2 class="text-xl text-center">Record:</h2>
                <h3 class="text-5xl font-bold text-center">{{player.wins}}-{{player.losses}}-{{player.draws}} ({{player.get_record_percentage}}%)</h3>
            </div>
            <table class="table-auto">
                <thead class="bg-gray-800 text-gray-200">
                    <tr>
                        <th class="p-3 text-left border border-slate-600">Match ID</th>
                        <th class="p-3 text-left border border-slate-600">Tournament</th>
                        <th class="p-3 text-left border border-slate-600">Bracket</th>
                        <th class="p-3 text-left border border-slate-600">Player 1</th>
                        <th class="p-3 text-left border border-slate-600">Score</th>
                        <th class="p-3 text-left border border-slate-600">Score</th>
                        <th class="p-3 text-left border border-slate-600">Player 2</th>
                    </tr>
                </thead>
                <tbody>
                  {% for match in matches %}
                    <tr class="{% if match.winner == player %}win{% else %}loss{% endif %}">
                        <td>
                            <a href="/matches/{{ match.id }}">{{ match.id }}</a>
                        </td>
                        <td class="p-1 border border-slate-600">
                            <a href="/tournaments/{{ match.bracket.tournament.id }}">{{ match.bracket.tournament.name }}</a>
                        </td>
                        <td class="p-1 border border-slate-600">{{ match.bracket.name }}</td>
                        <td class="p-1 border border-slate-600">{{ match.player1.name }}</td>
                        <td class="p-1 border border-slate-600 text-center">{{ match.player1_score }}</td>
                        <td class="p-1 border border-slate-600 text-center">{{ match.player2_score }}</td>
                        <td class="p-1 border border-slate-600">{{ match.player2.name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/ranktable.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = Array.from({length: {{ rating_data | length }}}, (x, i) => i+1);
    const data = {
        labels: labels,
        datasets: [
            {
                label: "Rank",
                backgroundColor: "hsl(252, 82.9%, 67.8%)",
                borderColor: "hsl(252, 82.9%, 67.8%)",
                data: {{ rating_data }},
            },
        ],
    };
    const config = {
        type: "line",
        data,
        options: {},
    };
    var chart = new Chart(
        document.getElementById("chart"),
        config
    );
</script>
{% endblock %}